scripts{
    // run plugins.groovy first
    plugins {
        script = "scripts/plugins.groovy"
        configPath = "config?.plugins"
    }
    activeDirectory {
        script = "scripts/activedirectory.groovy"
        configPath = "config?.activeDirectory"
    }
    anchore {
        script = "scripts/anchore.groovy"
        configPath = "config?.anchore"
    }
    azureVmAgents {
        script = "scripts/azureVmAgents.groovy"
        configPath = "config?.clouds?.azure"
    }
    commands {
        script = "scripts/commands.groovy"
        configPath = "config?.commands"
    }
    configfiles {
        script = "scripts/configfiles.groovy"
        configPath = "config?.configfiles"
    }
    confluence {
        script = "scripts/confluence.groovy"
        configPath = "config?.tools?.confluence"
    }
    credentials {
        script = "scripts/credentials.groovy"
        configPath = "config?.credentials"
    }
    customtool {
        script = "scripts/customtool.groovy"
        configPath = "config?.tools?.custom"
    }
    env {
        script = "scripts/env.groovy"
        configPath = "config?.env?.variables"
    }
	executors {
		script = "scripts/executors.groovy"
		configPath = "config?.executors"
	}
    files {
        script = "scripts/files.groovy"
        configPath = "config?.files"
    }
    gerrit {
        script = "scripts/gerrit.groovy"
        configPath = "config?.tools?.gerrit"
    }
    gitlab {
        script = "scripts/gitlab.groovy"
        configPath = "config?.gitlab"
    }
    githubEnterprise {
            script = "scripts/github.groovy"
            configPath = "config?.github"
    }
    gradle {
        script = "scripts/gradle.groovy"
        configPath = "config?.tools?.gradle"
    }
    groovy {
        script = "scripts/groovy.groovy"
        configPath = "config?.tools?.groovy"
    }
    hashicorpvault {
        script = "scripts/hashicorpvault.groovy"
        configPath = "config?.hashicorpvault"
    }
    hipchat {
            script = "scripts/hipchat.groovy"
            configPath = "config?.hipchat"
        }
    java {
        script = "scripts/java.groovy"
        configPath = "config?.tools?.java"
    }
    jenkinshost {
        script = "scripts/jenkinshost.groovy"
        configPath = "config?.jenkins"
    }
    jira {
        script = "scripts/jira.groovy"
        configPath = "config?.jira"
    }
    jnlp {
        script = "scripts/jnlp.groovy"
        configPath = "config"
    }
    jobdsl {
        script = "scripts/jobdsl.groovy"
        configPath = "config?.jobdsl"
    }
    jobs {
        script = "scripts/jobs.groovy"
        configPath = ""
    }
    kubernetes {
        script = "scripts/kubernetes.groovy"
        configPath = "config?.clouds?.kubernetes"
    }
    libraries {
        script = "scripts/libraries.groovy"
        configPath = "config?.libraries"
    }
    ldapauthn {
        script = "scripts/ldapauthn.groovy"
        configPath = "config?.auth?.ldap"
    }
    ldapauthz {
        script = "scripts/ldapauthz.groovy"
        configPath = "config?.auth?.ldap"
    }
    logstash {
        script = "scripts/logstash.groovy"
        configPath = "config?.logstash"
    }
    mail {
        script = "scripts/mail.groovy"
        configPath = "config?.mail"
    }
    mailext {
        script = "scripts/mailext.groovy"
        configPath = "config?.mail"
    }
    master {
        script = "scripts/master.groovy"
        configPath = "config?.nodes?.master"
    }
    maven {
        script = "scripts/maven.groovy"
        configPath = "config?.tools?.maven"
    }
    mesos {
        script = "scripts/mesos.groovy"
        configPath = "config?.clouds?.mesos"
    }
    nodejs {
        script = "scripts/nodejs.groovy"
        configPath = "config?.tools?.node"
    }
    nodes {
        script = "scripts/nodes.groovy"
        configPath = "config?.nodes?.slaves"
    }
    passwords {
        script = "scripts/passwords.groovy"
        configPath = "config?.env?.passwords"
    }
    proxy {
        script = "scripts/proxy.groovy"
        configPath = "config?.proxy"
    }
    roleStrategy {
        script = "scripts/rolestrategy.groovy"
        configPath = "config?.roleStrategy"
    }
    scriptsecurity {
        script = "scripts/scriptsecurity.groovy"
        configPath = "config?.scriptsecurity"
    }
    shell {
        script = "scripts/shell.groovy"
        configPath = "config?.tools?.shell"
    }
    sonarqube {
        script = "scripts/sonarqube.groovy"
        configPath = "config?.tools?.sonar?.qube"
    }
    sonarrunner {
        script = "scripts/sonarrunner.groovy"
        configPath = "config?.tools?.sonar?.runner"
    }
    splunk {
        script = "scripts/splunk.groovy"
        configPath = "config?.splunk"
    }
    ssh {
        script = "scripts/ssh.groovy"
        configPath = "config?.tools?.ssh"
    }
    systemMessage {
            script = "scripts/systemMessage.groovy"
            configPath = "config?.systemMessage"
        }
    systemProperties {
        script = "scripts/systemProperties.groovy"
        configPath = "config?.systemProperties"
    }
    users {
        script = "scripts/users.groovy"
        configPath = "config?.users"
    }
}
