/**

  Creates users using the local Jenkins user database.  Really only intended
  to provide quick minimal security for public cloud development environments.

*/

security {
    authStrategy = 'Logged-in users can do anything'
}

users {
    accounts=[
     // 'username': 'password'
        'jimbo': 'userpassword1',
        'timbo': 'ENC(AAAADIG5XwfoURydvwWm/MRnLy6v20hU3fyCpXx9Wu7BZwErfD94wxz0EmDG)'
    ]
}