files {
    vaultUrl='http://localhost:51234' // default vaultUrl for any values with source 'HashicorpVault'
    vaultToken='f119a093-c4b1-4422-1c8c-47688d14fe9e' // default vaultToken for any values with source 'HashicorpVault'
    privateKey=[
            path: '${jenkinsHome}/.ssh/id_rsa',
            mode:'600',
            contents:'''ENC(LWk/qSmbM9xKKRX0o906g0GW1VSnFmeJpLx97XRwpS2GiIV0w/4eptWUb+/PvjG3rMotH+ZgwXAZH6W7yhFiJfe89INTAFheohNW
                            wOJasq078wVzN2dYWYanNFIj/d+ZL6CU0X77rEXMsCSBpln64jWcUpkF0WwfJamePohldKa9FsIq/ZtCt772Lwm1cZspBShrGVvW
                            ilcX0JE2IsuOOMUk0oyKrEbs4XhSLhz7cYfAO99O/QL4k9xb22Mr9IyqkTxm1ae33FbOgZ0Ih+aTlevRPLTWrju3SgFfHsqitJqy
                            PLL2urcQli7qs3N818Fmn2WrL3zPQ1Czj76AfW2P2ZBH5mzCa9BY8iDZ715R+0X2zrzeip35uhXvcgxB1las2ChG34GHu6HqGQVT
                            lzm42fHs4vPaSbI2XHciQExRtWLmx3m2HwLIzGrlDKpUVUXIlN0p2WjSf1yUblJkAmzkMbsz0oeIffmbTTASjgnVEpJ3fKTQw6J8
                            yr59Y/7FguchfSbKo4u0240HM5lI3XyzyL90uU0jIb8ycLdC17vJutMhq3lJvfAHXBf6lB1QyHML8Q7pij/cknJCp+QYScKCg5bE
                            zsY/2xYpKYwgSUvmvWh6ZRzlrMNPyDJq00mO5mbWT6VHyL5YgLLPOmBgQeKQO7RQRwGpMgNU6f6tzezgwX6il+7CvpAEj6/bpjo6
                            TLpntJDuqOpGku1gvpYE5C/4FHM2Hrr94YxnR1XyispAhNIe6J/QOozFRH8uJxMhjIPI/+I0y3NjWVManctSfW6ZyCpnaBT6+w1X
                            REX7jPF+XyETR0QnSSX0x1ByXB0ffHFrKr3mEK/5BfIILMK7O2K5rYd63pgRkaPBj7MlEXJafh7jyaVYG/zTUxSD6uV8tmCrdAjM
                            CEAHfgp9PYWOk55A8uIC+kYrBMhIcj9p7QaCBqx/MN1DNAF6X3tuww4uxB4r4i1fUScDe52G5Y5QjM1f9NKfsIddUpQCfs7m2y95
                            eY3w7q+4GBhl2KIkToNQ0pUkAPhCH+S9+EoLhvbVQUy7FC/U+zD7DGQFaYSBHLBP8ckY6IQHJQW4sGEezMWlRMiuACzNuMT9rGni
                            C5yJ7I5cz0nJM5zOLA5c/BFOJkTK9Oy9p/YjteEFFhMfMbQsUWGR3hFJSqSijkBUeMnzm9thUbW7C6rvAahxmzaokAl5WuPZZylo
                            IoZ/w+4QEPllMzh1W/nwV3Re0liPA5svqm1OHX2ckBzEXkN+KRz9LxyjJM0R0CYScxYlTNjB5aOJHao8ECVdH+RQQKcE3kW4DOSI
                            KorQjm7vhNlpzfg2YGoYJxNkjeneBLjnH2w9Ibydxhcv0S2TK932DA1UAqUDHYyzS385toYlaExIL4Vu2xV+LapNKBc0ObWmP0hM
                            jx3sYM2dZdsFlgmeHcFfLA4NYfJ/P5xV9Q4J4ndhL85T4xuevVrS0p21IZL36mbbcozrPqmnt2z3/0W8yYjes8dPQ85QDq+vHSU/
                            zU/OVlwgjFb3vqj50hqqvPziB6T4ro5eZIpxNi0PHnXYo/L/mw0t58ewS7GG4TARywJaoYkc8q/lhLalm2VU9P+Q5WG9EOt697Y5
                            i/7ly2MmkfVV4KeccqEbCXWDRVPMJVgFUPxoVjuqDndp4FXfSPBVl111bX+OgbtKBujUzO8dtWnAU5a2AApqhlokDMFaEcHIQXjx
                            c1iYrTPy+62gVakWA+uFB4qOVz4kGuvFaWaRWLnkYIKzqQnYA+d5kaun12aozZXAR0LnIGchZ9su4gVP8Ljti/dFEyns+fC7Sx3M
                            uwfqSWhdwnIwajwm73HPaU5FC9QsaRoj2p3hO5Of9TxeBa0UEZurRfBcgbSJDBOcWeNY7zgB2Yer2yt34FRl8OHW/xZnuHFJumSe
                            5Q+KRqn/+lrFCfi8y7Egx/tXNroHyEeNw+AVSdXx0NpaDomMs/uLhzCbtinOchl4Y7Xr2HhWoL8CQPgkvbHSRrDtVYrbvz9njgGC
                            MXDcSU77OYs+oEXtWF2N7DZvYj4y8lzKTM1m0pYuTFTmNBGiZOjOM+8kvk/jOf4rKmxfQ0BRgq8JmcSMFBL/yvN4J2SZis89wlpx
                            dAPxxbjX+NZXS/01ZdpYPvGtJTlzmBq6DcL0ImErp5Cyp5LDw5coniOsXy5EUMzw30eNeLSd6FRiBZlFYq499qfxjHerJmPGCj4S
                            0r/Ne3+qJ7S5eqWOMTB6o8mZHNBnukUq1mA8DqaClDjvbn9tNqH9VgDMPFJpTdfuSmT5RuiNfhNA/+/o2oYIE6LFK3MTirWdDycn
                            uWlFRqM9UKGk9513lhiVd7Gi33NPOp6DPLzZ9mMKTHQNymZ5Fv3tkT+nTw==)'''
    ]
    settingsXml=[
            path: 'settings.xml',
            mode:'600',
            contents:'''
                        <?xml version="1.0" encoding="UTF-8"?>
                        <settings>
                        <profiles>
                              <profile>
                                 <id>myprofile</id>
                                 <properties>
                                     <sonar.host.url>
                                         http://localhost:9000
                                     </sonar.host.url>
                                 </properties>
                                 <repositories>
                                   <repository>
                                     <name>Jenkins</name>
                                      <id>repo.jenkins-ci.org</id>
                                      <url>http://repo.jenkins-ci.org/public/</url>
                                  </repository>
                                    <repository>
                                       <name>Spring Snapshots</name>
                                       <id>spring-snapshots</id>
                                       <url>http://repo.spring.io/snapshot</url>
                                       <snapshots>
                                          <enabled>true</enabled>
                                       </snapshots>
                                    </repository>
                                    <repository>
                                       <name>Spring Milestones</name>
                                       <id>spring-milestones</id>
                                       <url>http://repo.spring.io/milestone</url>
                                    </repository>
                                 </repositories>
                                 <pluginRepositories>
                                    <pluginRepository>
                                       <id>spring-snapshots</id>
                                       <url>http://repo.spring.io/snapshot</url>
                                    </pluginRepository>
                                    <pluginRepository>
                                       <id>spring-milestones</id>
                                       <url>http://repo.spring.io/milestone</url>
                                    </pluginRepository>
                                    <pluginRepository>
                                      <name>Jenkins</name>
                                       <id>repo.jenkins-ci.org</id>
                                       <url>http://repo.jenkins-ci.org/public/</url>
                                   </pluginRepository>
                                 </pluginRepositories>
                              </profile>
                           </profiles>
                           <activeProfiles>
                              <activeProfile>myprofile</activeProfile>
                           </activeProfiles>
                        </settings>
'''
    ]
    empty=[
            path: 'empty.txt',
            mode:'777',
            contents:''
    ]
    id_rsa_vault=[
            path:'${jenkinsHome}/.ssh/id_rsa_vault',
            mode:'600',
            source: 'HashicorpVault',
            key: 'secret/id_rsa',
            url:'http://localhost:51235',
            token: 'f119a093-c4b1-4422-1c8c-47688d14fe9e',
            contentKey: "contents", // defaults to 'contents'
            base64Encoded: true // defaults to false
    ]
    passcode_from_default_vault_config=[
            path:'${jenkinsHome}/.ssh/passcode',
            mode:'600',
            source: 'HashicorpVault',
            key: 'secret/passcode',
    ]
    password_not_encoded=[
            path:'${jenkinsHome}/.ssh/password',
            mode:'600',
            source: 'HashicorpVault',
            key: 'secret/password',
            url:'http://localhost:51235',
            token: 'f119a093-c4b1-4422-1c8c-47688d14fe9e',
            contentKey: "password",
            base64Encoded: false
    ]
}