/**
  SAML Plugin Configuration:

    - currently only supports the attributes seen below
    - Does not set authorization strategy - do that in a separate security{} block
*/

saml {
    idpMetadataUrl = 'https://nexus.microsoftonline-p.com/federationmetadata/saml20/federationmetadata.xml'
    refreshPeriod  = '15'
    maximumAuthLifetime = 1209600
    displayNameAttribute = 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'
    groupAttribute = 'http://schemas.microsoft.com/ws/2008/06/identity/claims/groups'
    usernameAttribute = 'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name'
    emailAttribute = 'email.attribute'
    usernameCaseConversion = 'None'
    dataBindingMethod = 'HTTP-Redirect'
    logoutUrl = 'https://logout.com'
}