users {
    accounts=[
        'jimbo': 'userpassword1',
        'timbo': 'ENC(AAAADIG5XwfoURydvwWm/MRnLy6v20hU3fyCpXx9Wu7BZwErfD94wxz0EmDG)'
    ]
}

security {

    authStrategy = 'Matrix-based security'

    matrix=[
        'hudson.model.Hudson.Administer': 'jimbo',
        'hudson.model.Hudson.Read': 'timbo',
        'hudson.model.Computer.Build': 'timbo',
        'hudson.model.Computer.Configure': 'timbo',
        'hudson.model.Computer.Connect': 'timbo'

        //  Can also do stuff like:
        // 'hudson.model.Hudson.Administer': 'authenticated',
        // 'hudson.model.Hudson.Read': 'anonymous'
    ]
}

/**
  Also possible:

  security {

      authStrategy = 'Logged-in users can do anything'

      allowAnonymousRead = true

  }

*/