users {
    accounts=[
        'jimbo': 'userpassword1',
        'timbo': 'ENC(AAAADIG5XwfoURydvwWm/MRnLy6v20hU3fyCpXx9Wu7BZwErfD94wxz0EmDG)',
        'bob': 'bobspassword',
        'doug': 'dougspassword'
    ]
}

// Can also use variables
def adminGroup       = '840491fe-167d-4eaa-b137-9877712a9b3f'
def readOnlyGroup    = '9a966d41-b9bb-4951-909f-2ea5f3f43310'
def developmentGroup = 'ef369fdf-6307-4e43-a4aa-28233fde0071'

security {

    authStrategy = 'Matrix-based security'

    matrix=[
        'hudson.model.Hudson.Administer':  ['jimbo', 'timbo', adminGroup],
        'hudson.model.Hudson.Read':        [readOnlyGroup, developmentGroup],
        'hudson.model.Computer.Build':     ['bob', 'doug', developmentGroup],

        //  Can also do stuff like:
        // 'hudson.model.Hudson.Administer': 'authenticated',
        // 'hudson.model.Hudson.Read': 'anonymous'
    ]
}

/**
  Also possible:

  security {

      authStrategy = 'Logged-in users can do anything'

      allowAnonymousRead = true

  }

*/