tools {
    sonar {
        qube =
        [
                [
                        name            : "SONAR6",
                        version         : "5.3 or higher", //defaults to "5.1 or lower" so not necessary with above example
                        serverUrl       : "http://10.113.140.170:9000/sonar",
                        serverAuthenticationToken: "someToken"
                ]
        ]
    }
}
