tools {
    sonar {
        qube =
        [
                [
                        name            : "SONAR6",
                        serverUrl       : "http://10.113.140.170:9000/sonar",
                        serverAuthenticationToken: "someToken"
                ],
                [
                        name            : "SONAR6-2",
                        serverUrl       : "http://10.113.140.171:9000/sonar",
                        serverAuthenticationToken: "someToken1",
                        additionalCommandLineArguments: "-X",
                        additionalAnalysisProperties: "sonar.organization=buildit"
                ]
        ]
    }
}
