tools {
    sonar {
        qube =
        [
                [
                        name            : "SONAR",
                        serverUrl       : "http://10.113.140.170:9000/sonar",
                        sonarLogin      : "admin", //only required for v5.1-
                        sonarPassword   : "ENC(AAAADF6IulRzxGoLgc3QerNDHPRdARvB3eJ3y1nLPk2PhxNt4VdE6ibH)", //only required for v5.1-
                        databaseUrl     : "jdbc:mysql://10.113.140.170:3306/sonarqube?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance", //only required for v5.1-
                        databaseLogin   : "sonarqube", //only required for v5.1-
                        databasePassword: "Y/a5t0YI5fmWqx1NEEYoKQ==" //only required for v5.1-
                ],
                [
                        name            : "SONAR6",
                        version         : "5.3 or higher", //defaults to "5.1 or lower" so not necessary with above example
                        serverUrl       : "http://10.113.140.170:9000/sonar",
                        serverAuthenticationToken: "someToken" //only required for v5.3+
                ]
        ]
    }
}
