credentials {
    repository=['username':'repository', 'password':'ENC(Y/a5t0YI5fmWqx1NEEYoKQ==)', 'description':'repository credentials']
    cloud=['username':'cloud', 'password':'ENC(FtBGXIAp6Ks=)', 'description':'cloud credentials']
    ssh=['username':'ssh', 'password':'ENC(FtBGXIAp6Ks=)', 'description':'node credentials', 'type': 'SSH', 'privateKeyFile':'.ssh/id_rsa']
    vault=['description': 'vault credentials', 'key':'super/secret', 'usernameKey': "username", 'passwordKey': "password", 'type': 'HashicorpVault']
    saucelabs=['description': 'SauceLabs credentials', 'username': 'slUser', 'apiKey': 'slApiKey', 'type': 'SauceLabs']
    gitlab=['description': 'Gitlab credentials', 'token': 'ENC(Y/a5t0YI5fmWqx1NEEYoKQ==)', 'type': 'GitLabApiToken']
    string=['description': 'auth token', 'token': 'ENC(RUa6u7bp0SpkbxktC6E8GQ==)', 'type': 'StringCredential']
    azureServicePrinciple=['id': 'azure-sp-id', 'description': 'azure SP', 'subscriptionId':'aaaaa-bbbbb-ccccc', 'clientId': 'ddddd-eeeee-fffff', 'clientSecret': 'asadfasfasdfjk', 'tenantId': 'ggggg-hhhhh-iiiii', 'azureEnvironment': "Azure", 'type': 'AzureCredentials']
    azureSecretString=['id': 'secret-id', 'description': 'secret-description', 'servicePrincipalId': 'azure-sp-id', 'secretIdentifier': 'https://mysecret', 'type': 'SecretStringCredentials']
}
