credentials {
    github=['username': 'jenkins', 'password': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'GitHub Credentials']
    mycompany=['username': 'jenkins', 'password': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'MyCompany GitHub Credentials']
}

github {

    organisations=[
            [
                    // Private Github Enterprise
                    apiEndpointUrl: 'https://api.github.mycompany.com',
                    apiEndpointName: 'MyCompany',
                    name:"mycompany",
                    displayName:"MyCompany",
                    description:"MyCompany Github Enterprise Organisation",
                    project:[
                            apiEndpoint:"MyCompany",
                            owner:"mycompany",
                            credentialsId:"mycompany",
                            repositoryNamePattern:"*"
                    ],

                    // explicit script path.  If left out, 'Jenkinsfile' will be the default
                    jenkinsfiles: ['Jenkinsfile.prod', 'Jenkinsfile.test']
            ],
            [
                    // Github.com
                    name:"buildit",
                    displayName:"Buildit",
                    description:"Buildit Github Organisation",
                    project:[
                            apiEndpoint:"GitHub",
                            owner:"buildit",
                            credentialsId:"github",
                            repositoryNamePattern:"*"
                    ]
             ]

    ]
}


