credentials {
    github=['username': 'jenkins', 'password': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'GitHub Credentials']
}

github {
    apiUrl="https://github.com"
    name="GitHub"
    organisations=[
            [
                    name:"buildit",
                    displayName:"Buildit",
                    description:"Buildit Github Organisation",
                    project:[
                            apiEndpoint:"GitHub",
                            owner:"buildit",
                            credentialsId:"github",
                            repositoryNamePattern:"*"
                    ],
                    jenkinsfiles: ['Jenkinsfile', 'Jenkinsfile.test']

            ]
    ]
}


