credentials {
    github=['username': 'jenkins', 'password': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'GitHub Credentials']
    mycompany=['username': 'jenkins', 'password': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'MyCompany GitHub Credentials']
    acme=['username': 'jenkins', 'password': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'Acme GitHub Credentials']
}

github {
    githubEnterpriseEndpoints=[
        ['name': 'MyCompany','url': 'https://api.github.mycompany.com'],
        ['name': 'Acme','url': 'https://api.github.acme.com']
    ]
    organisations=[
            [
                    name:"mycompany",
                    displayName:"MyCompany",
                    description:"MyCompany Github Enterprise Organisation",
                    project:[
                            apiEndpoint:"MyCompany",
                            owner:"mycompany",
                            credentialsId:"mycompany",
                            repositoryNamePattern:"*"
                    ],

                    // explicit script path.  If left out, 'Jenkinsfile' will be the default
                    jenkinsfiles: ['Jenkinsfile.prod', 'Jenkinsfile.test']
            ],
            [
                    name:"acme",
                    displayName:"Acme",
                    description:"Acme Github Enterprise Organisation",
                    project:[
                            apiEndpoint:"Acme",
                            owner:"acme",
                            credentialsId:"acme",
                            repositoryNamePattern:"*"
                    ],

                    // explicit script path.  If left out, 'Jenkinsfile' will be the default
                    jenkinsfiles: ['Jenkinsfile.acme']
            ],
            [
                    // Github.com
                    name:"buildit-name",
                    displayName:"Buildit Display Name",
                    description:"Buildit Github Organisation Description",
                    project:[
                            apiEndpoint:"GitHub",  // default endpoint present in Jenkins for github.com
                            owner:"buildit-owner",
                            credentialsId:"github",
                            repositoryNamePattern:"*"
                    ]
             ],
             [
                                 // Github.com
                                 name:"buildit-specific-branches",
                                 displayName:"Buildit Specific Branches Display Name",
                                 description:"Buildit Github Organisation Description",
                                 branchesToBuildAutomatically: " ", // Don't build any branches automatically, empty string isn't enough
                                 project:[
                                         owner:"buildit-owner",
                                         credentialsId:"github",
                                         repositoryNamePattern:"*",
                                         branchesToInclude:"master"
                                 ]
                          ]
    ]
}


