credentials {
    authToken=['type': 'StringCredential', 'token': 'ENC(AAAADBCsrisG4HKN89K4oEKwHbHlA2wKZqR1n275eeadIXrVUTctvseX/jb9V6qv2w==)', 'description': 'Slack token']
}

/**
  Other options that can be used:
  baseUrl,
  botUser - string, 'true' or 'false'
  buildServerUrl,
  room,
  sendAs
*/
slack {
  teamDomain = 'buildit'
  tokenCredentialId = 'authToken'
}